/* Pages - Index */

.slick-slider {
	margin: 0;
}

.slider img {
	width: 100%;
	height: 600px;
	margin: 0;
}

.link-box figure {
	width: 20%;
	height: auto;
	margin: 0px 10px;
	padding: 0;
}

.link-box figcaption {
	font-family: $header;
	background-color: $grey;
	color: $navy;
	text-align: center;
	font-size: 1.6em;
	@include transition(background-color 1s);
}

.link-box figure img {
	width: 100%;
	height: 100%;
	@include transition(opacity 1s);

}

.link-box a:hover figcaption {
	background-color: $darkgrey;
}

.link-box a:hover img {
	opacity: .7;
}

.tom-labaugh {
	float: left;
}

.tom-labaugh img {
	border: 2px solid $navy;
	border-radius: 50%;
}

.tom-text {
	padding-top: 15px;
}

#formula {
	display: block;
	width: 100%;
	font-family: $body-text;
	font-size: 1.4em;
	line-height: 1.6em;
	text-align: center;
	border: 4px solid $navy;
}

.formula-clear {
	font-weight: normal;
	text-transform: none;
}