/* Components - Carousel */

.sider {
	width: 80%;
	height: 400px;
	margin: 0 auto;
}

.slider-viewer {
	position: relative;
	overflow: hidden;
	height: 300px;
}

.slider-group {
	width: 100%;
	height: 100%;
	position: relative;
}

.slide {
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
}

.slide:first-child {
	display: block;
}